
@{
    ViewData["Title"] = "Категории охраны";
}

    <html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=windows-1251">
        <style>

            body, a, td, h1, h2 {
                font-family: Arial;
            }

            h1 {
                text-transform: uppercase;
                font-size: 10pt;
                color: #9d0a0e;
            }
        </style>
    </head>
    <body>
        <p align="center"><strong>Категории национальной природоохранной значимости (КАТЕГОРИИ ОХРАНЫ)</strong><br>
            </p><br>Категории охраны соответствуют общепринятым  категориям Международного Союза охраны природы (МСОП): CR(находящиеся под критической угрозой исчезновения), EN (находящиеся под критической угрозой исчезновения), VU (уязвимые) и NT (близкие к первым трем категориям) (IUCN, 2001), но учитывают и такие факторы, как международный и европейский статус, доля от европейской популяции, а также экологические, филогенетические, исторические и культурные аспекты, включая  предпочтительное отношение к  некоторым видам в сравнении с другими со стороны человека. <br><br>
        <strong>I категория (CR)</strong><blockquote><p>наивысшей национальной природоохранной значимости включает таксоны, имеющие очень низкую или быстро сокращающуюся численность, спасение которых невозможно без осуществления комплекса специальных мер, а также таксоны, национальная популяция которых имеет высокую международную значимость (т.е. если страна несет ответственность за сохранение значительной доли от глобальной или европейской популяции).</p></blockquote>
        <strong><br>II категория (EN) </strong><blockquote><p>включает таксоны, в настоящее время не находящиеся под прямой угрозой исчезновения на территории страны, но имеющие неблагоприятный международный или европейский охранный статус, низкую численность, тенденцию к неуклонному сокращению численности и/или ареала и прогнозируемое в ближайшем будущем ухудшение статуса.</p></blockquote><p><br>
        <strong>III категория (VU) </strong></p><blockquote><p>включает таксоны, не находящиеся под прямой угрозой исчезновения, но подверженные риску вымирания в среднеотдаленном будущем в силу морфо-физиологических и/или поведенческих особенностей, делающих их уязвимыми для любых, даже незначительных изменений окружающей среды.<strong>&nbsp;</strong></p></blockquote>
        <p><br><strong>IV категория (NT) </strong></p><blockquote><p>объединяет таксоны, не относящиеся к трем предыдущим категориям, но близкие к ним, имеющие неблагоприятные тенденции на окружающих территориях или зависимые от осуществляемых мер охраны.</p></blockquote>

    </body>
    </html>

