<div class="search-container">
    <ul>
        <li class="search-el">
            <div>
                <div>
                    Типы видов
                </div>
                <div ng-dropdown-multiselect=""
                     options="vm.search.speciesTypes"
                     selected-model="vm.search.selectedSpeciesTypes"
                     checkboxes="true"
                     extra-settings="vm.config.speciesTypesMultiselectSettings"
                     translation-texts="vm.config.multiselectTranslation"
                     events="{onSelectionChanged: vm.onSelectedSpeciesTypesChange}">
                </div>
            </div>
        </li>
        <li class="search-el">
            <div>
                <div>
                    Классы
                </div>
                <div ng-dropdown-multiselect=""
                     options="vm.search.classes"
                     selected-model="vm.search.selectedClasses"
                     checkboxes="true"
                     extra-settings="vm.config.multiselectSettings"
                     translation-texts="vm.config.multiselectTranslation"
                     events="{onSelectionChanged: vm.onSelectedClassesChange}">
                </div>
            </div>
        </li>
        <li class="search-el">
            <div>
                <div>
                    <div>
                        Отряды
                    </div>
                    <div ng-dropdown-multiselect=""
                         options="vm.search.orders"
                         selected-model="vm.search.selectedOrders"
                         checkboxes="true"
                         extra-settings="vm.config.multiselectSettings"
                         translation-texts="vm.config.multiselectTranslation"
                         events="{onSelectionChanged: vm.onSelectedOrdersChange}">
                    </div>
                </div>
            </div>
        </li>
        <li class="search-el">
            <div>
                <div>
                    Поиск
                </div>
                <div class="search-name">
                    <input type="text" ng-model="vm.search.searchInput" />
                </div>
            </div>
        </li>
        <li class="search-el">
            <div>
                <button id="add-new-button" class="btn btn-success" type="button" ng-hide="!$root.isAdmin" ng-click="vm.addNew()">Добавить вид</button>
            </div>
        </li>

    </ul>    
</div>
<div class="species-container">
    <div class="species" ng-repeat="species in vm.search.species | filter:vm.search.searchInput">
        <div class="species-image">
            <img ng-src="/images/{{species.imageFileName}}" />
        </div>
        <div class="species-description">
            <p><b>Имя вида</b>: {{species.russianName}}</p>
            <p><b>Латинское имя</b>: {{species.latinName}}</p>
            <p><b>Категория</b>: {{species.convertedCategory}}</p>

            <button class="btn btn-success btn-sm" type="button" ng-click="vm.onOpenInfo(species)">Подробная информация</button>
        </div>
    </div>
</div>