<div>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.close()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{vm.isNew ? "Добавление нового вида" : "Подробная информация о виде"}}</h4>
    </div>

    <div class="modal-body">
        <div class="row param">
            <div class="param-description">
                <b>Тип вида:</b>
            </div>
            <div class="param-value" ng-hide="!($root.isAdmin||vm.isNew)">
                <div ng-dropdown-multiselect=""
                     options="vm.speciesTypes"
                     selected-model="vm.selectedSpeciesType"
                     checkboxes="true"
                     extra-settings="vm.config.multiselectSettings"
                     translation-texts="vm.config.multiselectTranslation"
                     events="{onSelectionChanged: vm.onSelectedSpeciesTypeChange}">
                </div>
            </div>
            <div class="param-value">
                <input class="form-control" type="text" ng-hide="$root.isAdmin" ng-disabled="true" ng-model="vm.selectedSpeciesType[0].label">
            </div>
        </div>
        <div class="row param">
            <div class="param-description">
                <b>Класс:</b>
            </div>
            <div class="param-value" ng-hide="!($root.isAdmin||vm.isNew)">
                <div ng-dropdown-multiselect=""
                     options="vm.classes"
                     selected-model="vm.selectedClass"
                     checkboxes="true"
                     extra-settings="vm.config.multiselectSettings"
                     translation-texts="vm.config.multiselectTranslation"
                     events="{onSelectionChanged: vm.onSelectedClassChange}">
                </div>
            </div>
            <div class="param-value">
                <input class="form-control" type="text" ng-hide="$root.isAdmin" ng-disabled="true" ng-model="vm.selectedClass[0].label">
            </div>
        </div>
        <div class="row param">
            <div class="param-description">
                <b>Отряд:</b>
            </div>
            <div class="param-value" ng-hide="!($root.isAdmin||vm.isNew)">
                <div ng-dropdown-multiselect=""
                     options="vm.orders"
                     selected-model="vm.selectedOrder"
                     checkboxes="true"
                     extra-settings="vm.config.multiselectSettings"
                     translation-texts="vm.config.multiselectTranslation">
                </div>
            </div>
            <div class="param-value">
                <input class="form-control" type="text" ng-hide="$root.isAdmin" ng-disabled="true" ng-model="vm.selectedOrder[0].label">
            </div>
        </div>
        <div class="row param">
            <div class="param-description">
                <b>Вид:</b>
            </div>
            <div class="param-value">
                <input class="form-control" type="text" ng-disabled="!($root.isAdmin||vm.isNew)" ng-model="vm.species.russianName">
            </div>
        </div>
        <div class="row param">
            <div class="param-description">
                <b>Латинское имя:</b>
            </div>
            <div class="param-value">
                <input class="form-control" type="text" ng-disabled="!($root.isAdmin||vm.isNew)" ng-model="vm.species.latinName">
            </div>
        </div>
        <div class="row param">
            <div class="param-description">
                <b>Изображение вида:</b>
            </div>
            <div class="param-value">
                <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-default btn-file">
                            Выбрать
                            <input accept="image/jpeg, .jpg, .webp, .jfif" type="file" image-model="vm.species.imageFile" image-file-name="vm.species.imageFileName">
                        </span>
                    </span>
                    <input readonly="readonly" placeholder="Выберите файл" ng-model="vm.species.imageFileName" class="form-control" type="text">
                </div>
            </div>
        </div>
        <div class="row param">
            <div class="param-description">
                <b><a href="/info/ProtectionСategories">Категория:</a></b>
            </div>
            <div class="param-value">
                <input class="form-control" type="number" ng-disabled="!($root.isAdmin||vm.isNew)" max="4" min="1" ng-model="vm.species.category">
            </div>
        </div>
        <div class="row param">
            <div class="param-description">
                <b>Описание:</b>
            </div>
            <div class="param-value">
                <textarea class="form-control" ng-disabled="!($root.isAdmin||vm.isNew)" ng-model="vm.species.description"></textarea>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-hide="!($root.isAdmin||vm.isNew)" ng-click="vm.save()">Сохранить {{!vm.isNew ? 'изменения':''}}</button>
        <button class="btn btn-danger" type="button" ng-hide="!$root.isAdmin||vm.isNew" ng-click="vm.delete()">Удалить</button>
        <button class="btn btn-warning" ng-click="vm.close()">Закрыть</button>
    </div>
</div>