@{
    ViewData["Title"] = "Иерархия видов";
}
<link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.7.0/lodash.min.js"></script>

<link rel="stylesheet" href="~/css/SpeciesHierarchy/speciesHierarchy.css" />

<script src="~/js/Services/species-type-factory.js"></script>
<script src="~/js/Services/class-factory.js"></script>
<script src="~/js/Services/order-factory.js"></script>
<script src="~/js/Services/species-factory.js"></script>
<script src="~/js/Services/account-factory.js"></script>
<script src="~/js/Services/map-helper.js"></script>
<script src="~/js/SpeciesHierarchy/app.js"></script>
<script src="~/js/SpeciesHierarchy/Species/species.js"></script>
<script src="~/js/SpeciesHierarchy/Species/speciesInfo.js"></script>
<script src="~/js/SpeciesHierarchy/Orders/orders.js"></script>
<script src="~/js/SpeciesHierarchy/Orders/orderInfo.js"></script>
<script src="~/js/SpeciesHierarchy/Classes/classes.js"></script>
<script src="~/js/SpeciesHierarchy/Classes/classInfo.js"></script>
<script src="~/js/SpeciesHierarchy/SpeciesTypes/speciesTypes.js"></script>
<script src="~/js/SpeciesHierarchy/SpeciesTypes/speciesTypeInfo.js"></script>

<div ng-controller="speciesHierarchyController as vm">
    <div class="nav-container">
        <div class="nav-el" ng-class="{ active: vm.state == 'speciesTypes' }" ng-click="vm.goToState('speciesTypes')">
            Типы видов 
        </div>
        <div class="nav-el" ng-class="{ active: vm.state == 'classes' }" ng-click="vm.goToState('classes')">
            Классы
        </div>
        <div class="nav-el" ng-class="{ active: vm.state == 'orders' }" ng-click="vm.goToState('orders')">
            Отряды
        </div>
        <div class="nav-el" ng-class="{ active: vm.state == 'species' }" ng-click="vm.goToState('species')">
            Виды
        </div>
    </div>
    <ui-view></ui-view>
</div>