@{
    ViewData["Title"] = "Иерархия видов";
}
<link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.7.0/lodash.min.js"></script>

<link rel="stylesheet" href="~/css/SpeciesHierarchy/speciesHierarchy.css" />

<script src="~/js/Services/species-type-factory.js"></script>
<script src="~/js/Services/class-factory.js"></script>
<script src="~/js/Services/order-factory.js"></script>
<script src="~/js/Services/species-factory.js"></script>
<script src="~/js/Services/account-factory.js"></script>
<script src="~/js/Services/map-helper.js"></script>
<script src="~/js/SpeciesHierarchy/app.js"></script>
<script src="~/js/SpeciesHierarchy/Species/species.js"></script>
<script src="~/js/SpeciesHierarchy/Species/speciesInfo.js"></script>

<div ng-app="speciesHierarchy">
    <ui-view></ui-view>
</div>