@{
    ViewData["Title"] = "Карта наблюдений";
}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
<link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.7.0/lodash.min.js"></script>

<script src="~/js/Services/observation-factory.js"></script>
<script src="~/js/Services/species-factory.js"></script>
<script src="~/js/Services/species-type-factory.js"></script>
<script src="~/js/Services/map-helper.js"></script>
<script src="~/js/Observation/Index.js"></script>

<div ng-app="observationIndex">
    <div ng-controller="observationIndexController as vm">
        <table class="search-container">
            <tr>
                <td valign="top">
                    <div>
                        Параметры поиска
                    </div>
                </td>
                <td valign="top">
                    <div>
                        <div>
                            Типы видов
                        </div>
                        <div ng-dropdown-multiselect=""
                             options="vm.search.speciesTypes"
                             selected-model="vm.search.selectedSpeciesTypes"
                             checkboxes="true"
                             extra-settings="vm.config.speciesTypesMultiselectSettings"
                             translation-texts="vm.config.multiselectTranslation"
                             events="{onSelectionChanged: vm.onSpeciesTypesChage}">
                        </div>
                    </div>
                </td>
                <td valign="top">
                    <div>
                        Виды
                    </div>
                    <div ng-dropdown-multiselect=""
                         options="vm.search.species"
                         selected-model="vm.search.selectedSpecies"
                         checkboxes="true"
                         extra-settings="vm.config.multiselectSettings"
                         translation-texts="vm.config.multiselectTranslation">
                    </div>
                </td>
                <td valign="top">
                    <div>
                        Промежуток наблюдения
                    </div>
                    <div class="date-range">
                        <span>От:</span>
                        <input type="date" ng-model="vm.search.fromDate" max="{{vm.today}}" />
                        <span>До:</span>
                        <input type="date" ng-model="vm.search.toDate" max="{{vm.today}}" />
                    </div>
                </td>
                <td valign="top">
                    <div>
                        Категории
                    </div>
                    <div ng-dropdown-multiselect=""
                         options="vm.search.categories"
                         selected-model="vm.search.selectedCategories"
                         checkboxes="true"
                         extra-settings="vm.config.multiselectSettings"
                         translation-texts="vm.config.multiselectTranslation">
                    </div>
                </td>
                <td valign="top">
                    <div>
                        Отмеченные мной
                    </div>
                    <input type="checkbox" ng-model="vm.search.showMine" />
                </td>

                <td valign="top">
                    <input type="button" value="Поиcк" ng-click="vm.onSearch()" />
                </td>
            </tr>
        </table>

        <div id="mapid" style="height: 580px;"></div>
                     
    </div>
</div>