.auth-button {
    width: 225px;
    height: 30px;
    display: inline-block;
    border: 2px solid #a0c4cf /*#c7e5ee*/;
    border-radius: 10px;
    padding-top: 3px;
    text-align: center;
    margin: 0 10px 10px 0;
}

.active {
    background-color: rgba(190, 241, 241, 0.33);
}

#login-button {
    margin-left: 40px;
}

#registration-button {
    float: right;
    margin-right: 40px;
}

#auth-modal-header{
    background-color: rgba(149, 219, 220, 0.41);
    text-align: center;
}

#auth-modal-body {
    height: 180px;
    position: relative;
}

.registrationState {
    height: 290px !important; 
}

.auth-line {
    height: 40px;
}

.form-horizontal{
    padding-top: 10px;
}

@media only screen and (max-width: 600px) {
    #registration-button {
        float: none;
        margin: auto;
        display: block;
    }

    #login-button {
        margin: auto;
        display: block;
        margin-bottom: 20px;
    }

}

@media only screen and (max-width: 800px) {
    .form-group {
        height: 75px;
    }

    #auth-modal-body {
        height: 280px;
    }

    .registrationState {
        height: 460px !important;
    }
}