<div class="search-container">
    <ul>
        <li class="search-el">
            <div>
                <div>
                    Типы видов
                </div>
                <div ng-dropdown-multiselect=""
                     options="vm.search.speciesTypes"
                     selected-model="vm.search.selectedSpeciesTypes"
                     checkboxes="true"
                     extra-settings="vm.config.speciesTypesMultiselectSettings"
                     translation-texts="vm.config.multiselectTranslation"
                     events="{onSelectionChanged: vm.onSelectedSpeciesTypesChange}">
                </div>
            </div>
        </li>
        <li class="search-el">
            <div>
                <div>
                    Классы
                </div>
                <div ng-dropdown-multiselect=""
                     options="vm.search.classes"
                     selected-model="vm.search.selectedClasses"
                     checkboxes="true"
                     extra-settings="vm.config.multiselectSettings"
                     translation-texts="vm.config.multiselectTranslation"
                     events="{onSelectionChanged: vm.onSelectedClassesChange}">
                </div>
            </div>
        </li>
        <li class="search-el">
            <div>
                <div>
                    Поиск
                </div>
                <div class="search-name">
                    <input type="text" ng-model="vm.search.searchInput" />
                </div>
            </div>
        </li>
        <li class="search-el">
            <div>
                <button id="add-new-button" class="btn btn-success" type="button" ng-hide="!$root.isAdmin" ng-click="vm.addNew()">Добавить отряд</button>
            </div>
        </li>
    </ul>
</div>
<div>
    <div class="orders" ng-repeat="order in vm.search.orders | filter:vm.search.searchInput">
        <p><b>Тип</b>: {{order.type.name}}</p>
        <p><b>Класс</b>: {{order.class.name}}</p>
        <p><b>Имя отряда</b>: {{order.name}}</p>
        <p><b>Латинское имя</b>: {{order.latinName}}</p>
        <p><button class="btn btn-warning btn-sm" type="button" ng-if="$root.isAdmin" ng-click="vm.onOpenInfo(order)">Редактировать отряд</button></p>
    </div>
</div>