<div class="search-container">
    <table>
        <tr>
            <td valign="top">
                <div>
                    <div>
                        Типы видов
                    </div>
                    <div ng-dropdown-multiselect=""
                         options="vm.search.speciesTypes"
                         selected-model="vm.search.selectedSpeciesTypes"
                         checkboxes="true"
                         extra-settings="vm.config.speciesTypesMultiselectSettings"
                         translation-texts="vm.config.multiselectTranslation"
                         events="{onSelectionChanged: vm.onSelectedSpeciesTypesChange}">
                    </div>
                </div>
            </td>
            <td valign="top">
                <div>
                    <div>
                        Классы
                    </div>
                    <div ng-dropdown-multiselect=""
                         options="vm.search.classes"
                         selected-model="vm.search.selectedClasses"
                         checkboxes="true"
                         extra-settings="vm.config.multiselectSettings"
                         translation-texts="vm.config.multiselectTranslation"
                         events="{onSelectionChanged: vm.onSelectedClassesChange}">
                    </div>
                </div>
            </td>
            <td valign="top">
                <div>
                    Поиск
                </div>
                <div class="search-name">
                    <input type="text" ng-model="vm.search.searchInput" />
                </div>
            </td>
        </tr>
    </table>
    <button id="add-new-button" class="btn btn-success" type="button" ng-if="vm.isAdmin" ng-click="vm.addNew()">Добавить новый отряд</button>
</div>
<div>
    <div class="orders" ng-repeat="order in vm.search.orders | filter:vm.search.searchInput">
        <p><b>Тип</b>: {{order.type.name}}</p>
        <p><b>Класс</b>: {{order.class.name}}</p>
        <p><b>Имя отряда</b>: {{order.name}}</p>
        <p><b>Латинское имя</b>: {{order.latinName}}</p>
        <p><button class="btn btn-warning btn-sm" type="button" ng-if="vm.isAdmin" ng-click="vm.onOpenInfo(order)">Редактировать отряд</button></p>
    </div>
</div>