@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>

<script src="~/js/Services/observation-factory.js"></script>
<script src="~/js/Services/species-factory.js"></script>
<script src="~/js/Services/species-type-factory.js"></script>
<script src="~/js/Services/map-helper.js"></script>
<script src="~/js/Species/Index.js"></script>

<h1>Index</h1>

<div ng-app="speciesIndex">
    <div ng-controller="speciesIndexController as vm">

        <a href="/Account/Register">Регистрация</a>
        <div>
            <div class="form-group">
                <label>Введите Email</label>
                <input type="text" ng-model="vm.account.Email" />
            </div>
            <div class="form-group">
                <label>Введите пароль</label>
                <input type="password" ng-model="vm.account.Password" />
            </div>
            <div class="form-group">
                <input type="submit" value="Войти" class="btn btn-outline-dark" ng-click="vm.onLogin()" />
            </div>
        </div>

        <div id="mapid" style="height: 580px;"></div>
    </div>
</div>

